@model IEnumerable<MyClasses.AnaSayfaMessajleri>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutKontrolPanel";

}


<div style="margin:100px">
    @if (TempData["messaj"] != null)
    {
        <div class="alert alert-success">

            <h3>@TempData["messaj"]</h3>

        </div>
    }
    <h1>Ana Sayfa Messajleri</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form method="get" asp-action="search">
        <input type="search" name="searchItem" class="search-field" />
        <input type="submit" value="Search" class="btn-primary" />
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                                       <img src="~/images/AnaSayfaMessajleri/@item.Resim" style="width:50px;height:50px;" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                @* <a asp-action="Details" asp-route-id="@item.id">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    @{
        if (Model.ToList().Count < 5)
        {
            int id = 0;
            <a asp-action="Index" asp-route-id="@id">Ana Sayfa</a>
        }
        else
        {
            <a asp-action="Index" asp-route-id="@Model.ToList().Last().id">Sonraki</a>
        }
    }
</div>