@model IEnumerable<MyClasses.Order>

@{
    ViewData["Title"] = "Index";
}

<div style="margin:100px">

    @if (TempData["messaj"] != null)
    {
        <div class="alert alert-success">

            <h3>@TempData["messaj"]</h3>

        </div>
    }
    <h1>Orders</h1>

   
    <form method="get" asp-action="search">
        <input type="search" name="searchItem" class="search-field" />
        <input type="submit" value="Search" class="btn-primary" />
    </form>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Adı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoyAdı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yemek_Kategorisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yemek_Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.durum)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Check)
            </th>
            <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Adı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoyAdı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yemek_Kategorisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yemek_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fiyat)
            </td>
            <td>
                        <img src="~/images/YemekMenu/@item.Resim" style="width:50px;height:50px;" />
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.durum)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.Check)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
    @{
        if (Model.ToList().Count < 5)
        {
            int id = 0;
            <a asp-action="Index" asp-route-id="@id">Ana Sayfa</a>
        }
        else
        {
            <a asp-action="Index" asp-route-id="@Model.ToList().Last().id">Sonraki</a>
        }
    }
</div>